@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #131316;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
html {
  scroll-behavior: smooth;
  height: 100dvh;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Degular", sans-serif;
  font-optical-sizing: auto;

}
